// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "./base/font.scss";
// Variables
@import './_variables.scss';
@import './functions.scss';
@import './mixins.scss';

//Base
@import "./base/gap.scss";
@import "./base/wrapper.scss";
@import "./base/width.scss";
@import "./base/svg.scss";
@import "./base/text.scss";
@import "./base/background.scss";
@import "./base/padding.scss";
@import "./base/margin.scss";
@import "./base/display.scss";
@import "./base/hover.scss";

//Components
@import "./components/card.scss";
@import "./components/button.scss";
@import "./components/input.scss";
@import "./components/select.scss";
//@import "./components/checkbox.scss";
@import "./components/modal.scss";
@import "./components/badge.scss";
@import "./components/page.scss";
@import "./components/flag.scss";
@import "./components/sidebar.scss";
@import "./components/row.scss";
@import "./components/collapse.scss";
@import "./components/dropdown.scss";
@import "./components/navbar.scss";
@import "./components/pagination.scss";
@import "./components/table.scss";

#{'.'+$namespace} {
    @import "./components/header.scss";
}
//Customs
@import "landing.scss";
@import "./customs/feature.scss";
@import "./customs/list.scss";
@import "./customs/article.scss";

body {
    font-family: 'Roboto', sans-serif;
}

.travel-news-btn {
    cursor: pointer;
    position: fixed;
    z-index: 99999;
    bottom: 98px;
    right: 36px;
    /* width: 50px; */
    /* height: 50px; */
    border-radius: 50%;
    border: 6px #f08b23 solid;
    background: white;

    i {
        text-decoration: none;
        color: orange;
        font-size: 24px !important;


    }


}

.articles {
    img {
        width:100%;
        object-fit: cover;
    }
}


.ql-align-center {
    text-align: center;
}

.pulse {
    animation: pulse-animation 2s;
    animation-iteration-count: 5;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.tc-circle {
    background: var(--tc-primary);
    border-radius: 50%;
    height: 5px;
    width: 5px;
    display: inline-block;
    margin: 2px 0;
}


/////////////////////////////
//button-5
///////////////////////////
.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}


.phone-by-city p {
    color: white;
}
