// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'resources/sass/desktop/variables';

// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';


.travel-news-btn {
    cursor: pointer;
    position: fixed;
    z-index: 99999;
    bottom: 98px;
    right: 36px;
    /* width: 50px; */
    /* height: 50px; */
    border-radius: 50%;
    border: 6px #f08b23 solid;
    background: white;

    i {
        text-decoration: none;
        color: orange;
        font-size: 24px !important;


    }


}

.articles {
    img {
        width:100%;
        object-fit: cover;
    }
}


.ql-align-center {
    text-align: center;
}

.pulse {
    animation: pulse-animation 2s;
    animation-iteration-count: 5;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}




/////////////////////////////
//button-5
///////////////////////////
.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}



