@include set-property('w', 'width', (
    none: 0,
    100: 100%,
    initial: initial), true, !important);
@include up-all() using ($key, $value) {
    @include set-property('w'+$key,'width', (
        none: 0,
        100: 100%,
        initial: initial), true, !important);
}
@include down-all() using ($key, $value){
    @include set-property('w'+$key,'width', (
        none: 0,
        100: 100%,
        initial: initial),  true, !important);
}
