#{'.'+$namespace} {
    &-button {
        border-radius: 15px;
        padding: 15px 30px;
        //padding: 1rem 1.5rem;
        color: var(--#{$namespace}-text-inverse);
        background: var(--#{$namespace}-primary);
        border: none;
        line-height: $line-height-base;
        font-size: $font-size-base;
        //line-height: 14px;
        //font-size: 14px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;

        &-round {
            width: 40px !important;
            height: 40px !important;
            border-radius: 100%;
            border: none;
            padding: 12px;
            background: transparent;
            color: $white;
            position: relative;
            line-height: 0;
            vertical-align: middle;
            margin: 11px;

            & .info {
                position: absolute;
                background: var(--b-green-darker);
                top: 2px;
                right: 2px;
                width: 7px;
                height: 7px;
                border-radius: 100%;
            }

            &__icon {
                max-height: 22px;
                max-width: 22px;
            }
        }

        &__icon {
            max-height: 22px;
            max-width: 22px;
        }

        &:disabled {
            background: var(--b-neutral-light) !important;
            color: var(--b-neutral-dark);

            &.next {
                background: transparent;
                color: var(--b-neutral-default);

                & svg {
                    fill: var(--b-neutral-default) !important;
                }
            }
        }

        &:focus:not(:focus-visible) {
            outline: initial;
        }

        &-link {
            @extend #{'.'+$namespace}-button;
            font-size: 12px;
            font-family: $font-family-sans-serif;
            font-weight: 500;
            color: rgb(45, 50, 68);
            text-transform: lowercase;
            line-height: 1.833;
            text-align: left;
            display: flex;
            align-items: center;
            text-decoration: underline;
            cursor: pointer;
            padding-left: 0;
            padding-right: 0;

            #{'.'+$namespace}-button__icon {
                max-height: 18px;
                max-width: 18px;
            }
        }

        &-icon {
            @extend #{'.'+$namespace}-button;
            border-radius: 15px;
            width: 53px;
            height: 53px;
            padding: 14px;

            #{'.'+$namespace}-button__icon {
                max-height: 16px;
                max-width: 16px;
            }

            &-small {
                @extend #{'.'+$namespace}-button;
                border-radius: 5px;
                width: 30px;
                height: 30px;
                padding: 5px;
            }
        }

        &_plump {
            border-radius: 25px;
            padding: 25px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.2;
        }

        &_pill {
            //border-radius: 20px;
            //padding: 17px;
            //font-size: 16px;
            //font-weight: bold;
            //line-height: 1.2;
            //color: $main-default;
            //background-color: $white;
            //min-width: 370px;
            //width: fit-content;
            background-color: var(--#{$namespace}-secondary);
            border: none;
            color: var(--#{$namespace}-text-inverse);
            font-family: $font-family-sans-serif;
            font-weight: 900;
            font-size: 20px;
            border-radius: 50px;
            text-transform: uppercase;
            padding: 10px 32px;
            text-decoration: none;
            outline: none !important;
        }

        &_disabled {
            background-color: var(--b-neutral-default) !important;
            cursor: default;
        }

        &_save {
            @extend #{'.'+$namespace}-button;
            height: 70px;
            font-size: 16px;
            margin-left: auto;
            background: var(--#{$namespace}-primary);
        }

        &_delete {
            @extend #{'.'+$namespace}-button;
            width: 70px;
            height: 70px;
            padding: 23px;
            background: var(--b-red-darker);
        }
    }
}


@media screen and (max-width: 768px) {
    #{'.'+$namespace} {
        &-button {
            border-radius: 10px;
            padding: 7px 15px;
            font-size: 12px;
            &_plump {
                border-radius: 18px;
                padding: 20px;
                font-size: 12px;
                font-weight: bold;
                line-height: 1.2;
            }

            &_pill {
                font-size: 10px;
                padding: 12px;
                border-radius: 13px;
                //height: 34px;
                //min-width: 200px;
            }

            &_save {
                height: 54px;
                font-size: 12px;
                margin-left: auto;
            }

            &_delete {
                width: 54px;
                height: 54px;
                padding: 18px;

                & svg {
                    width: 100%;
                    height: 100%;
                }
            }

            &-icon {
                border-radius: 10px;
                width: 40px;
                height: 40px;
                padding: 8px;

                #{'.'+$namespace}-button__icon {
                    max-height: 12px;
                    max-width: 12px;
                }
            }
        }
    }
}
