.tc-flag-1,
.tc-flag-10,
.tc-flag-100,
.tc-flag-102,
.tc-flag-103,
.tc-flag-104,
.tc-flag-105,
.tc-flag-106,
.tc-flag-107,
.tc-flag-108,
.tc-flag-109,
.tc-flag-11,
.tc-flag-110,
.tc-flag-111,
.tc-flag-112,
.tc-flag-113,
.tc-flag-114,
.tc-flag-115,
.tc-flag-116,
.tc-flag-117,
.tc-flag-118,
.tc-flag-119,
.tc-flag-12,
.tc-flag-120,
.tc-flag-121,
.tc-flag-122,
.tc-flag-123,
.tc-flag-124,
.tc-flag-125,
.tc-flag-126,
.tc-flag-127,
.tc-flag-128,
.tc-flag-129,
.tc-flag-13,
.tc-flag-130,
.tc-flag-131,
.tc-flag-132,
.tc-flag-133,
.tc-flag-134,
.tc-flag-135,
.tc-flag-136,
.tc-flag-137,
.tc-flag-138,
.tc-flag-139,
.tc-flag-14,
.tc-flag-148,
.tc-flag-149,
.tc-flag-15,
.tc-flag-150,
.tc-flag-154,
.tc-flag-155,
.tc-flag-156,
.tc-flag-157,
.tc-flag-158,
.tc-flag-159,
.tc-flag-16,
.tc-flag-160,
.tc-flag-161,
.tc-flag-162,
.tc-flag-163,
.tc-flag-164,
.tc-flag-165,
.tc-flag-166,
.tc-flag-167,
.tc-flag-168,
.tc-flag-169,
.tc-flag-17,
.tc-flag-170,
.tc-flag-171,
.tc-flag-172,
.tc-flag-173,
.tc-flag-174,
.tc-flag-175,
.tc-flag-176,
.tc-flag-177,
.tc-flag-178,
.tc-flag-179,
.tc-flag-18,
.tc-flag-180,
.tc-flag-181,
.tc-flag-183,
.tc-flag-184,
.tc-flag-185,
.tc-flag-186,
.tc-flag-189,
.tc-flag-19,
.tc-flag-190,
.tc-flag-191,
.tc-flag-192,
.tc-flag-193,
.tc-flag-194,
.tc-flag-196,
.tc-flag-197,
.tc-flag-199,
.tc-flag-2,
.tc-flag-20,
.tc-flag-200,
.tc-flag-201,
.tc-flag-202,
.tc-flag-21,
.tc-flag-22,
.tc-flag-23,
.tc-flag-24,
.tc-flag-25,
.tc-flag-26,
.tc-flag-27,
.tc-flag-28,
.tc-flag-29,
.tc-flag-3,
.tc-flag-30,
.tc-flag-31,
.tc-flag-33,
.tc-flag-34,
.tc-flag-35,
.tc-flag-36,
.tc-flag-37,
.tc-flag-38,
.tc-flag-39,
.tc-flag-4,
.tc-flag-40,
.tc-flag-41,
.tc-flag-42,
.tc-flag-43,
.tc-flag-44,
.tc-flag-45,
.tc-flag-46,
.tc-flag-47,
.tc-flag-48,
.tc-flag-49,
.tc-flag-5,
.tc-flag-50,
.tc-flag-51,
.tc-flag-52,
.tc-flag-53,
.tc-flag-54,
.tc-flag-55,
.tc-flag-56,
.tc-flag-57,
.tc-flag-58,
.tc-flag-59,
.tc-flag-6,
.tc-flag-60,
.tc-flag-61,
.tc-flag-62,
.tc-flag-63,
.tc-flag-64,
.tc-flag-65,
.tc-flag-66,
.tc-flag-67,
.tc-flag-68,
.tc-flag-69,
.tc-flag-7,
.tc-flag-70,
.tc-flag-71,
.tc-flag-72,
.tc-flag-73,
.tc-flag-74,
.tc-flag-75,
.tc-flag-76,
.tc-flag-77,
.tc-flag-78,
.tc-flag-79,
.tc-flag-8,
.tc-flag-80,
.tc-flag-81,
.tc-flag-82,
.tc-flag-83,
.tc-flag-84,
.tc-flag-86,
.tc-flag-87,
.tc-flag-88,
.tc-flag-89,
.tc-flag-9,
.tc-flag-90,
.tc-flag-91,
.tc-flag-92,
.tc-flag-93,
.tc-flag-95,
.tc-flag-96,
.tc-flag-97,
.tc-flag-98,
.tc-flag-99 {
    display:inline-block;
    background-image:url('/images/ui_narrowtpl_flags_20x13_sprite.png');
    width:20px;
    height:13px
}
.tc-flag-1 {
    background-position:-21px 0
}
.tc-flag-10 {
    background-position:-63px -154px
}
.tc-flag-100 {
    background-position:0 -14px
}
.tc-flag-102 {
    background-position:-21px -14px
}
.tc-flag-103 {
    background-position:0 -28px
}
.tc-flag-104 {
    background-position:-21px -28px
}
.tc-flag-105 {
    background-position:-42px 0
}
.tc-flag-106 {
    background-position:-42px -14px
}
.tc-flag-107 {
    background-position:-42px -28px
}
.tc-flag-108 {
    background-position:0 -42px
}
.tc-flag-109 {
    background-position:-21px -42px
}
.tc-flag-11 {
    background-position:-42px -42px
}
.tc-flag-110 {
    background-position:-63px 0
}
.tc-flag-111 {
    background-position:-63px -14px
}
.tc-flag-112 {
    background-position:-63px -28px
}
.tc-flag-113 {
    background-position:-63px -42px
}
.tc-flag-114 {
    background-position:0 -56px
}
.tc-flag-115 {
    background-position:-21px -56px
}
.tc-flag-116 {
    background-position:-42px -56px
}
.tc-flag-117 {
    background-position:-63px -56px
}
.tc-flag-118 {
    background-position:0 -70px
}
.tc-flag-119 {
    background-position:-21px -70px
}
.tc-flag-12 {
    background-position:-42px -70px
}
.tc-flag-120 {
    background-position:-63px -70px
}
.tc-flag-121 {
    background-position:-84px 0
}
.tc-flag-122 {
    background-position:-84px -14px
}
.tc-flag-123 {
    background-position:-84px -28px
}
.tc-flag-124 {
    background-position:-84px -42px
}
.tc-flag-125 {
    background-position:-84px -56px
}
.tc-flag-126 {
    background-position:-84px -70px
}
.tc-flag-127 {
    background-position:0 -84px
}
.tc-flag-128 {
    background-position:-21px -84px
}
.tc-flag-129 {
    background-position:-42px -84px
}
.tc-flag-13 {
    background-position:-63px -84px
}
.tc-flag-130 {
    background-position:-84px -84px
}
.tc-flag-131 {
    background-position:-105px 0
}
.tc-flag-132 {
    background-position:-105px -14px
}
.tc-flag-133 {
    background-position:-105px -28px
}
.tc-flag-134 {
    background-position:-105px -42px
}
.tc-flag-135 {
    background-position:-105px -56px
}
.tc-flag-136 {
    background-position:-105px -70px
}
.tc-flag-137 {
    background-position:-105px -84px
}
.tc-flag-138 {
    background-position:0 -98px
}
.tc-flag-139 {
    background-position:-21px -98px
}
.tc-flag-14 {
    background-position:-42px -98px
}
.tc-flag-148 {
    background-position:-63px -98px
}
.tc-flag-149 {
    background-position:-84px -98px
}
.tc-flag-15 {
    background-position:-105px -98px
}
.tc-flag-150 {
    background-position:0 -112px
}
.tc-flag-154 {
    background-position:-21px -112px
}
.tc-flag-155 {
    background-position:-42px -112px
}
.tc-flag-156 {
    background-position:-63px -112px
}
.tc-flag-157 {
    background-position:-84px -112px
}
.tc-flag-158 {
    background-position:-105px -112px
}
.tc-flag-159 {
    background-position:-126px 0
}
.tc-flag-16 {
    background-position:-126px -14px
}
.tc-flag-160 {
    background-position:-126px -28px
}
.tc-flag-161 {
    background-position:-126px -42px
}
.tc-flag-162 {
    background-position:-126px -56px
}
.tc-flag-163 {
    background-position:-126px -70px
}
.tc-flag-164 {
    background-position:-126px -84px
}
.tc-flag-165 {
    background-position:-126px -98px
}
.tc-flag-166 {
    background-position:-126px -112px
}
.tc-flag-167 {
    background-position:0 -126px
}
.tc-flag-168 {
    background-position:-21px -126px
}
.tc-flag-169 {
    background-position:-42px -126px
}
.tc-flag-17 {
    background-position:-63px -126px
}
.tc-flag-170 {
    background-position:-84px -126px
}
.tc-flag-171 {
    background-position:-105px -126px
}
.tc-flag-172 {
    background-position:-126px -126px
}
.tc-flag-173 {
    background-position:-147px 0
}
.tc-flag-174 {
    background-position:-147px -14px
}
.tc-flag-175 {
    background-position:-147px -28px
}
.tc-flag-176 {
    background-position:-147px -42px
}
.tc-flag-177 {
    background-position:-147px -56px
}
.tc-flag-178 {
    background-position:-147px -70px
}
.tc-flag-179 {
    background-position:-147px -84px
}
.tc-flag-18 {
    background-position:-147px -98px
}
.tc-flag-180 {
    background-position:-147px -112px
}
.tc-flag-181 {
    background-position:-147px -126px
}
.tc-flag-183 {
    background-position:0 -140px
}
.tc-flag-184 {
    background-position:-21px -140px
}
.tc-flag-185 {
    background-position:-42px -140px
}
.tc-flag-186 {
    background-position:-63px -140px
}
.tc-flag-189 {
    background-position:-84px -140px
}
.tc-flag-19 {
    background-position:-105px -140px
}
.tc-flag-190 {
    background-position:-126px -140px
}
.tc-flag-191 {
    background-position:-147px -140px
}
.tc-flag-192 {
    background-position:0 -154px
}
.tc-flag-193 {
    background-position:-21px -154px
}
.tc-flag-194 {
    background-position:-42px -154px
}
.tc-flag-195 {
    display:inline-block;
    background-image:url('/images/ui_narrowtpl_flags_20x13_sprite.png');
    background-position:0 0;
    width:20px;
    height:13px
}
.tc-flag-196 {
    background-position:-84px -154px
}
.tc-flag-197 {
    background-position:-105px -154px
}
.tc-flag-199 {
    background-position:-126px -154px
}
.tc-flag-2 {
    background-position:-147px -154px
}
.tc-flag-20 {
    background-position:-168px 0
}
.tc-flag-200 {
    background-position:-168px -14px
}
.tc-flag-201 {
    background-position:-168px -28px
}
.tc-flag-202 {
    background-position:-168px -42px
}
.tc-flag-21 {
    background-position:-168px -56px
}
.tc-flag-22 {
    background-position:-168px -70px
}
.tc-flag-23 {
    background-position:-168px -84px
}
.tc-flag-24 {
    background-position:-168px -98px
}
.tc-flag-25 {
    background-position:-168px -112px
}
.tc-flag-26 {
    background-position:-168px -126px
}
.tc-flag-27 {
    background-position:-168px -140px
}
.tc-flag-28 {
    background-position:-168px -154px
}
.tc-flag-29 {
    background-position:0 -168px
}
.tc-flag-3 {
    background-position:-21px -168px
}
.tc-flag-30 {
    background-position:-42px -168px
}
.tc-flag-31 {
    background-position:-63px -168px
}
.tc-flag-33 {
    background-position:-84px -168px
}
.tc-flag-34 {
    background-position:-105px -168px
}
.tc-flag-35 {
    background-position:-126px -168px
}
.tc-flag-36 {
    background-position:-147px -168px
}
.tc-flag-37 {
    background-position:-168px -168px
}
.tc-flag-38 {
    background-position:-189px 0
}
.tc-flag-39 {
    background-position:-189px -14px
}
.tc-flag-4 {
    background-position:-189px -28px
}
.tc-flag-40 {
    background-position:-189px -42px
}
.tc-flag-41 {
    background-position:-189px -56px
}
.tc-flag-42 {
    background-position:-189px -70px
}
.tc-flag-43 {
    background-position:-189px -84px
}
.tc-flag-44 {
    background-position:-189px -98px
}
.tc-flag-45 {
    background-position:-189px -112px
}
.tc-flag-46 {
    background-position:-189px -126px
}
.tc-flag-47 {
    background-position:-189px -140px
}
.tc-flag-48 {
    background-position:-189px -154px
}
.tc-flag-49 {
    background-position:-189px -168px
}
.tc-flag-5 {
    background-position:0 -182px
}
.tc-flag-50 {
    background-position:-21px -182px
}
.tc-flag-51 {
    background-position:-42px -182px
}
.tc-flag-52 {
    background-position:-63px -182px
}
.tc-flag-53 {
    background-position:-84px -182px
}
.tc-flag-54 {
    background-position:-105px -182px
}
.tc-flag-55 {
    background-position:-126px -182px
}
.tc-flag-56 {
    background-position:-147px -182px
}
.tc-flag-57 {
    background-position:-168px -182px
}
.tc-flag-58 {
    background-position:-189px -182px
}
.tc-flag-59 {
    background-position:0 -196px
}
.tc-flag-6 {
    background-position:-21px -196px
}
.tc-flag-60 {
    background-position:-42px -196px
}
.tc-flag-61 {
    background-position:-63px -196px
}
.tc-flag-62 {
    background-position:-84px -196px
}
.tc-flag-63 {
    background-position:-105px -196px
}
.tc-flag-64 {
    background-position:-126px -196px
}
.tc-flag-65 {
    background-position:-147px -196px
}
.tc-flag-66 {
    background-position:-168px -196px
}
.tc-flag-67 {
    background-position:-189px -196px
}
.tc-flag-68 {
    background-position:-210px 0
}
.tc-flag-69 {
    background-position:-210px -14px
}
.tc-flag-7 {
    background-position:-210px -28px
}
.tc-flag-70 {
    background-position:-210px -42px
}
.tc-flag-71 {
    background-position:-210px -56px
}
.tc-flag-72 {
    background-position:-210px -70px
}
.tc-flag-73 {
    background-position:-210px -84px
}
.tc-flag-74 {
    background-position:-210px -98px
}
.tc-flag-75 {
    background-position:-210px -112px
}
.tc-flag-76 {
    background-position:-210px -126px
}
.tc-flag-77 {
    background-position:-210px -140px
}
.tc-flag-78 {
    background-position:-210px -154px
}
.tc-flag-79 {
    background-position:-210px -168px
}
.tc-flag-8 {
    background-position:-210px -182px
}
.tc-flag-80 {
    background-position:-210px -196px
}
.tc-flag-81 {
    background-position:0 -210px
}
.tc-flag-82 {
    background-position:-21px -210px
}
.tc-flag-83 {
    background-position:-42px -210px
}
.tc-flag-84 {
    background-position:-63px -210px
}
.tc-flag-86 {
    background-position:-84px -210px
}
.tc-flag-87 {
    background-position:-105px -210px
}
.tc-flag-88 {
    background-position:-126px -210px
}
.tc-flag-89 {
    background-position:-147px -210px
}
.tc-flag-9 {
    background-position:-168px -210px
}
.tc-flag-90 {
    background-position:-189px -210px
}
.tc-flag-91 {
    background-position:-210px -210px
}
.tc-flag-92 {
    background-position:-231px 0
}
.tc-flag-93 {
    background-position:-231px -14px
}
.tc-flag-95 {
    background-position:-231px -28px
}
.tc-flag-96 {
    background-position:-231px -42px
}
.tc-flag-97 {
    background-position:-231px -56px
}
.tc-flag-98 {
    background-position:-231px -70px
}
.tc-flag-99 {
    background-position:-231px -84px
}
