.tc-pagination {
    margin-right: auto;
    margin-left: auto;
    & .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        gap: 6px;
    }

    //&.body-bg .pagination .page-item .page-link {
    //    background-color: $body-bg;
    //}

    & .page-item {
        cursor: pointer;
        & .page-link {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            border: none;
            transition: all 0.1s ease-in-out;
            border-radius: 13px;
            min-width: 44px;
            height: 44px;
            font-size: 16px;
            font-family: $font-family-sans-serif;
            font-weight: 500;
            color: var(--tc-secondary);
            line-height: 1.2;
            text-align: center;
            background-color: white;

            &:hover {
                color: #ffffff;
                //background-color: rgb(41, 83, 255);
                background-color: var(--#{$namespace}-secondary);
                box-shadow: 0px 7px 20px 0px rgba(41, 83, 255, 0.25);
            }
            //&:focus {
            //    box-shadow: none;
            //    color: #ffffff;
            //    background-color: rgb(41, 83, 255);
            //}
            &:focus {
                color: var(--tc-secondary);
                background-color: transparent;
                box-shadow: none;
                //pointer-events: none;
            }
            &:active {
                color: var(--tc-secondary);
                background-color: transparent;
                box-shadow: none;
            }

        }
        &.dots {
            background-color: transparent;
            pointer-events: none;
            min-width: 29px;
            cursor: default;
            &  > .page-link, & > .page-link:hover {
                color: var(--tc-secondary);
                background-color: transparent;
                box-shadow: none;
                pointer-events: none;
                min-width: 29px;
            }
        }
        &.active {
            & > .page-link, & > .page-link:hover {
                color: #ffffff;
                //background-color: rgb(41, 83, 255);
                background-color:var(--#{$namespace}-secondary);
                box-shadow: 0px 7px 20px 0px rgba(41, 83, 255, 0.25);
            }
        }
        &.disabled {
            & > .page-link, & > .page-link:hover {
                color: #ffffff;
                background-color:  var(--b-neutral-default);
            }
        }
        &.page-item-control {
            min-width: 29px;
            width: 29px;
            margin:0;
            & .page-link {
                background-color: transparent;
                box-shadow: none;
                width: 29px;
                min-width: 29px;
                &:hover {
                    //color: #ffffff;
                    //border-color: #169FED;
                    background-color: transparent;
                    box-shadow: none;
                }
            }
            &.disabled {
                & > .page-link, & > .page-link:hover {
                    color: #54646D;
                    border-color: #54646D;
                    background-color: transparent;
                }
            }
        }
    }

    & .page-item + .page-item {
        //margin-left: 6px;
    }


    @media (max-width: 576px) {
        & .pagination {
            gap: 4px;
            //flex-wrap: wrap;
        }
        & .page-item {
            & .page-link {
                border-radius: 13px;
                min-width: 34px;
                height: 34px;
                font-size: 14px;
                font-family: $font-family-sans-serif;
                font-weight: 500;
                color: var(--tc-secondary);
                line-height: 1.2;
                text-align: center;
                padding: 8px;
            }
            &.dots {
                min-width: 15px;
                &  > .page-link {
                    min-width: 15px;
                    width: 15px;
                }
            }
            &.page-item-control {
                min-width: 15px;
                width: 15px;
                & .page-link {
                    width: 15px;
                    min-width: 15px;
                    padding: 0;
                }
            }
        }
        & .page-item + .page-item {
            //margin-left: 4px;
        }
    }

    @media (min-width: 768px) {
        & .page-item {
            & .page-link {
                border-radius: 15px;
                width: 60px;
                height: 60px;
                font-size: 16px;
                font-family: $font-family-sans-serif;
                font-weight: 500;
                color: var(--tc-secondary);
                line-height: 1.2;
                text-align: center;
            }
            &.dots {
                &  > .page-link {
                    min-width: 29px;
                    width: 29px;
                }
            }
        }
        & .page-item + .page-item {
            //margin-left: 6px;
        }
    }

    @media (min-width: 576px) {
        & .page-item {
            &.page-item-control + &.page-item-control {
                //margin-left: 6px;
            }
        }
        & .page-item-control + .page-item, & .page-item + .page-item-control {
            //margin-left: 6px;
        }
    }
}

.tc-pagination_body {
    @extend .tc-pagination;
    & .page-item {
        & .page-link {
            background-color: $body-bg;
        }
    }
}

