#{'.'+$namespace}-row {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: auto;
    margin-left: auto;
    gap: 10px 0;
    width: 100%;

    & > * {
        flex-shrink: 0;
        //width: 100%;
        //max-width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        margin-top: var(--bs-gutter-y);
    }
    &-xxlarge > * {
        padding-right: map-get($indents, 'xxlarge') !important;
        padding-left: map-get($indents, 'xxlarge') !important;
    }

    &__label {
        font-size: 14px;
        font-family: $font-family-sans-serif;
        color: rgb(45, 50, 68);
        font-weight: bold;
        line-height: 1.286;
        text-align: left;
        &_column {
            margin-top: 30px;
        }
    }
    &_wide {
        gap: 30px 0;
    }
    &.wide {
        gap: 30px 0;
    }
}
@include set-property('row','row', $indents, true, !important, true, true) using ($key, $value) {
    & > * {
        padding-right: $value !important;
        padding-left: $value !important;
    }
};
@media screen and (max-width: 768px) {
    #{'.'+$namespace}-row {
        margin-right: auto;
        margin-left: auto;
        gap: 6px 0;

        & > * {
            padding-right: 3px;
            padding-left: 3px;
        }

        &__label {
            font-size: 10px;
            font-family: $font-family-sans-serif;
            color: rgb(45, 50, 68);
            font-weight: bold;
            line-height: 2.2;
            text-align: left;
            &_column {
                margin-top: 15px;
            }
        }
        &__label:first-child {
            margin-top: 0;
        }
        &_wide {
            gap: 25px 0;
        }
    }
}
@media (min-width: 992px) {
    #{'.'+$namespace}-row {
        &.wide {
            & #{'.'+$namespace}-row__offset-right {
                padding-right: 30px;
                padding-left: 0;
            }
            & #{'.'+$namespace}-row__offset-left {
                padding-right: 0;
                padding-left: 30px;
            }
        }
        &_wide {
            & #{'.'+$namespace}-row__offset-right {
                padding-right: 30px;
                padding-left: 0;
            }
            & #{'.'+$namespace}-row__offset-left {
                padding-right: 0;
                padding-left: 30px;
            }
        }
    }
}
