.tc-select__wrapper {
    position: relative;
    width: 100%;

    .tc-select {
        border-radius: 25px;
        display: block;
        //min-width: 220px;
        width: 100%;
        height: calc(4.3rem + 2px);
        padding: 0.375rem 30px 0.375rem 0.75rem;
        -moz-padding-start: calc(0.75rem - 3px);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: (--tc-secondary);
        background: $body-bg;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232953ff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 1.75rem center;
        background-size: 16px 12px;
        border: none;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
    }

    .tc-v-select {
        --vs-colors--lightest: rgba(60, 60, 60, 0.26);
        --vs-colors--light: rgba(60, 60, 60, 0.5);
        --vs-colors--dark: #333;
        --vs-colors--darkest: rgba(0, 0, 0, 0.15);
        --vs-colors--primary: var(--tc-primary);

        /* Search Input */
        --vs-search-input-color: inherit;
        --vs-search-input-placeholder-color: inherit;

        /* Font */
        --vs-font-size: 14px;
        --vs-line-height: 1.2;

        /* Disabled State */
        --vs-state-disabled-bg: rgb(248, 248, 248);
        --vs-state-disabled-color: var(--vs-colors--light);
        --vs-state-disabled-controls-color: var(--vs-colors--light);
        --vs-state-disabled-cursor: not-allowed;

        /* Borders */
        --vs-border-color: var(--vs-colors--lightest);
        --vs-border-width: 1px;
        --vs-border-style: solid;
        --vs-border-radius: 4px;

        /* Actions: house the component controls */
        --vs-actions-padding: 4px 6px 0 3px;

        /* Component Controls: Clear, Open Indicator */
        --vs-controls-color: var(--vs-colors--primary);
        --vs-controls-size: 1;
        --vs-controls--deselect-text-shadow: 0 1px 0 #fff;

        /* Selected */
        --vs-selected-bg: #f0f0f0;
        --vs-selected-color: var(--vs-colors--dark);
        --vs-selected-border-color: var(--vs-border-color);
        --vs-selected-border-style: var(--vs-border-style);
        --vs-selected-border-width: var(--vs-border-width);

        /* Dropdown */
        --vs-dropdown-bg: #fff;
        --vs-dropdown-color: black;
        --vs-dropdown-z-index: 1000;
        --vs-dropdown-min-width: 160px;
        --vs-dropdown-max-height: 350px;
        --vs-dropdown-box-shadow: 0px 3px 6px 0px var(--vs-colors--darkest);

        /* Options */
        --vs-dropdown-option-bg: #000;
        --vs-dropdown-option-color: var(--vs-dropdown-color);
        --vs-dropdown-option-padding: 3px 20px;

        /* Active State */
        --vs-dropdown-option--active-bg: #5897fb;
        --vs-dropdown-option--active-color: #fff;

        /* Deselect State */
        --vs-dropdown-option--deselect-bg: #fb5858;
        --vs-dropdown-option--deselect-color: #fff;

        /* Transitions */
        --vs-transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
        --vs-transition-duration: 150ms;

        &.vs--unsearchable .vs__search {
            position: absolute;
        }

        &.vs--unsearchable.vs--single.vs--loading .vs__selected, &.vs--unsearchable.vs--single.vs--open .vs__selected {
            opacity: .4;
            position: initial;
        }

        & .vs__search {
            &:focus {
                outline: 0 !important;
                border-color: transparent !important;
                box-shadow: none !important;
            }
        }

        & .vs__dropdown-menu {
            background-color: $white;
            //box-shadow: 0px 10px 26px rgba(16, 30, 115, 0.06);
            box-shadow: 0px 10px 24px 0px #101E7321;
            border-radius: 0 0 25px 25px;
            padding: 25px;
            border: none;
            scrollbar-width: thin;
            scrollbar-color: var(--tc-primary) #e9f3fc;
            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 7px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
                padding: 25px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--tc-primary);
                border-radius: 5px;
            }

            & .vs__dropdown-option--highlight {
                background: white;
                color: black;
            }
        }

        & .vs__dropdown-toggle {
            position: relative;
            width: 100%;
            min-height: 70px;
            border-radius: 25px;
            //padding: 8px 8px;
            //border: none;
            border: 1px solid var(--tc-secondary);
            background-color: $body-bg;
            outline: 0;
            //padding: 18px 12px 8px 8px;
            font-size: 14px;
            //height: calc(4.3rem + 2px);
            padding: 0.375rem 30px 0.375rem 0.75rem;
            -moz-padding-start: calc(0.75rem - 3px);
            font-weight: 400;
            line-height: 1.5;
            color: var(--tc-secondary);
        }

        &.error .vs__dropdown-toggle {
            border: 1px solid $red;
        }

        &.vs--open .vs__dropdown-toggle {
            border-bottom-color: transparent;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0
        }

        &.vs--disabled .vs__dropdown-toggle {
            background: #F2F2F2;
            color: #A0A4A8;
            border-color: #F2F2F2;
        }

        & .vs__actions {
            padding: 0px 6px 0 3px;
        }

        &.vs--multiple .vs__selected {
            background-color: rgb(226 232 253);
            font-weight: 500;
            color: rgb(45, 50, 68);
            line-height: 1.2;
        }

        & .vs__selected {
            //background: white;
            border: none;
            font-size: 14px;
            border-radius: 15px;
            padding: 12px 25px;
            align-items: center;
            display: flex;
            //margin: 4px 2px 0 0;
            z-index: 0
        }

        &.vs--multiple .vs__selected-options {
            display: flex;
            flex-basis: 100%;
            flex-grow: 1;
            flex-wrap: wrap;
            padding: 0 2px;
            position: relative;
            gap: 6px;
        }


        &.no-background .vs__selected {
            background: #FFFFFF !important;
        }

        &.vs--disabled .vs__clear, &.vs--disabled .vs__search, &.vs--disabled .vs__selected,
        &.vs--disabled .vs__open-indicator, &.vs--disabled .vs__selected {
            background-color: #F2F2F2 !important;
            background: #F2F2F2 !important;
            color: #A0A4A8;
        }

        //& .vs__open-indicator {
        //    height: 14px;
        //}

        & .vs__clear svg {
            height: 14px !important;
            width: 14px !important;
        }
    }

    .v-select {
        font-family: inherit;
        position: relative
    }

    .v-select, .v-select * {
        box-sizing: border-box
    }

    .tc-select__error {
        font-size: 12px;
        color: $red;
        margin: 0;
    }

    @-webkit-keyframes vSelectSpinner {
        0% {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(1turn)
        }
    }

    @keyframes vSelectSpinner {
        0% {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(1turn)
        }
    }

    .vs__fade-enter-active, .vs__fade-leave-active {
        pointer-events: none;
        transition: opacity var(--vs-transition-duration) var(--vs-transition-timing-function)
    }

    .vs__fade-enter, .vs__fade-leave-to {
        opacity: 0
    }

    .vs--disabled .vs__clear, .vs--disabled .vs__dropdown-toggle, .vs--disabled .vs__open-indicator, .vs--disabled .vs__search, .vs--disabled .vs__selected {
        background-color: var(--vs-disabled-bg);
        cursor: var(--vs-disabled-cursor)
    }

    .v-select[dir=rtl] .vs__actions {
        padding: 0 3px 0 6px
    }

    .v-select[dir=rtl] .vs__clear {
        margin-left: 6px;
        margin-right: 0
    }

    .v-select[dir=rtl] .vs__deselect {
        margin-left: 0;
        margin-right: 2px
    }

    .v-select[dir=rtl] .vs__dropdown-menu {
        text-align: right
    }

    .vs__dropdown-toggle {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border: var(--vs-border-width) var(--vs-border-style) var(--vs-border-color);
        border-radius: var(--vs-border-radius);
        display: flex;
        padding: 0 0 4px;
        white-space: normal
    }

    .vs__selected-options {
        display: flex;
        flex-basis: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 0 2px;
        position: relative;
        gap: 6px;
    }

    .vs__actions {
        align-items: center;
        display: flex;
        padding: var(--vs-actions-padding)
    }

    .vs--searchable .vs__dropdown-toggle {
        cursor: text
    }

    .vs--unsearchable .vs__dropdown-toggle {
        cursor: pointer
    }

    & .vs--open .vs__dropdown-toggle {
        border-bottom-color: transparent;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
    }

    .vs__open-indicator {
        fill: var(--tc-primary);
        transform: scale(var(--vs-controls-size));
        transition: transform var(--vs-transition-duration) var(--vs-transition-timing-function);
        transition-timing-function: var(--vs-transition-timing-function)
    }

    .vs--open .vs__open-indicator {
        transform: rotate(180deg) scale(var(--vs-controls-size))
    }

    .vs--loading .vs__open-indicator {
        opacity: 0
    }

    .vs__clear {
        fill: var(--tc-primary);
        background-color: transparent;
        border: 0;
        cursor: pointer;
        margin-right: 8px;
        padding: 0
    }

    .vs__dropdown-menu {
        background: var(--vs-dropdown-bg);
        border: var(--vs-border-width) var(--vs-border-style) var(--vs-border-color);
        border-radius: 0 0 var(--vs-border-radius) var(--vs-border-radius);
        border-top-style: none;
        box-shadow: var(--vs-dropdown-box-shadow);
        box-sizing: border-box;
        color: var(--vs-dropdown-color);
        display: block;
        left: 0;
        list-style: none;
        margin: 0;
        max-height: var(--vs-dropdown-max-height);
        //min-width: var(--vs-dropdown-min-width);
        overflow-y: auto;
        padding: 5px 0;
        position: absolute;
        text-align: left;
        top: calc(100% - var(--vs-border-width));
        width: 100%;
        z-index: var(--vs-dropdown-z-index)
    }

    .vs__no-options {
        text-align: center
    }

    .vs__dropdown-option {
        clear: both;
        color: var(--vs-dropdown-option-color);
        cursor: pointer;
        display: block;
        line-height: 1.42857143;
        padding: var(--vs-dropdown-option-padding);
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    //.vs__dropdown-option--highlight {
    //    background: var(--vs-dropdown-option--active-bg);
    //    color: var(--vs-dropdown-option--active-color)
    //}
    //
    //.vs__dropdown-option--deselect {
    //    background: var(--vs-dropdown-option--deselect-bg);
    //    color: var(--vs-dropdown-option--deselect-color)
    //}
    //
    //.vs__dropdown-option--disabled {
    //    background: var(--vs-state-disabled-bg);
    //    color: var(--vs-state-disabled-color);
    //    cursor: var(--vs-state-disabled-cursor)
    //}

    .vs__deselect {
        fill: $red;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border: 0;
        cursor: pointer;
        display: inline-flex;
        margin-left: 4px;
        padding: 0;
        text-shadow: var(--vs-controls--deselect-text-shadow)
    }

    .vs--single .vs__selected {
        background-color: transparent;
        border-color: transparent;
        padding: 0;
    }

    .vs--single.vs--loading .vs__selected, .vs--single.vs--open .vs__selected {
        opacity: .4;
        position: absolute
    }

    .vs--single.vs--searching .vs__selected {
        display: none
    }

    .vs__search::-webkit-search-cancel-button {
        display: none
    }

    .vs__search::-ms-clear, .vs__search::-webkit-search-decoration, .vs__search::-webkit-search-results-button, .vs__search::-webkit-search-results-decoration {
        display: none
    }

    .vs__search, .vs__search:focus {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border: 1px solid transparent;
        border-left: none;
        box-shadow: none;
        color: var(--vs-search-input-color);
        flex-grow: 1;
        font-size: var(--vs-font-size);
        line-height: var(--vs-line-height);
        margin: 4px 0 0;
        max-width: 100%;
        outline: none;
        padding: 0 7px;
        width: 0;
        z-index: 1
    }

    .vs__search::-moz-placeholder {
        color: var(--vs-search-input-placeholder-color)
    }

    .vs__search:-ms-input-placeholder {
        color: var(--vs-search-input-placeholder-color)
    }

    .vs__search::placeholder {
        color: var(--vs-search-input-placeholder-color)
    }

    .vs--unsearchable .vs__search {
        opacity: 1
    }

    .vs--unsearchable:not(.vs--disabled) .vs__search {
        cursor: pointer
    }

    .vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
        opacity: .2
    }

    .vs__spinner {
        align-self: center;
        -webkit-animation: vSelectSpinner 1.1s linear infinite;
        animation: vSelectSpinner 1.1s linear infinite;
        border: .9em solid hsla(0, 0%, 39%, .1);
        border-left-color: rgba(60, 60, 60, .45);
        font-size: 5px;
        opacity: 0;
        overflow: hidden;
        text-indent: -9999em;
        transform: translateZ(0) scale(var(--vs-controls--spinner-size, var(--vs-controls-size)));
        transition: opacity .1s
    }

    .vs__spinner, .vs__spinner:after {
        border-radius: 50%;
        height: 5em;
        transform: scale(var(--vs-controls--spinner-size, var(--vs-controls-size)));
        width: 5em
    }

    .vs--loading .vs__spinner {
        opacity: 1
    }
}

.tc-select__label {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: var(--tc-text-1);
    font-weight: 600;
    line-height: 1.571;
    text-align: left;
    margin-bottom: 5px;
    padding: 0 20px;
}

.tc-v-select_material {
    @extend .tc-select__wrapper;

    & .tc-v-select {
        &.vs--open ~ .tc-select__subtitle {
            color: var(--tc-neutral-dark);
            top: 12px;
            transition: 0.2s ease all;
            font-size: 12px;
        }

        &.vs--selected ~ .tc-select__subtitle {
            color: var(--tc-neutral-dark);
            top: 14px;
            transition: 0.2s ease all;
            font-size: 12px;
        }

        &.vs--searching ~ .tc-select__subtitle {
            color: var(--tc-neutral-dark);
            top: 12px;
            transition: 0.2s ease all;
            font-size: 12px;
        }

        & ~ .tc-select__subtitle {
            top: 24px;
        }

        & .vs__search {
            &:focus {
                outline: 0 !important;
                border-color: transparent !important;
                box-shadow: none !important;
            }
        }

        & ul {
            overflow-y: auto;
        }

        //& .vs__dropdown-menu {
        //    background-color: $white;
        //    color: var(--tc-secondary);
        //    //box-shadow: 0px 10px 26px rgba(16, 30, 115, 0.06);
        //    box-shadow: 0px 10px 24px 0px #101E7321;
        //    border-radius: 20px;
        //    padding: 24px;
        //    border: none;
        //    scrollbar-width: thin; /* "auto" or "thin" */
        //    scrollbar-color: #56a0e8 #e9f3fc;
        //    overflow-y: auto;
        //
        //    &::-webkit-scrollbar {
        //        width: 7px;
        //    }
        //
        //    &::-webkit-scrollbar {
        //        width: 7px;
        //    }
        //
        //    &::-webkit-scrollbar-track {
        //        background: #e9f3fc;
        //    }
        //
        //    &::-webkit-scrollbar-thumb {
        //        background-color: #56a0e8;
        //        border-radius: 5px;
        //    }
        //
        //    & .vs__dropdown-option--highlight {
        //        background: white !important;
        //        color: black;
        //    }
        //}

        & .vs__dropdown-toggle {
            font-family: $font-family-sans-serif;
            color: var(--tc-secondary);
            position: relative;
            width: 100%;
            min-height: 60px;
            border-radius: 15px;
            //border: 1px solid var(--tc-neutral-dark);
            //background-color: transparent;
            outline: 0;
            padding: 18px 25px;
            font-size: 12px;
        }

        &.error .vs__dropdown-toggle {
            border: 1px solid $red;
        }

        &.vs--disabled .vs__dropdown-toggle {
            background: #F2F2F2;
            color: #A0A4A8;
            border-color: #F2F2F2;
        }

        & .vs__actions {
            padding: 0px 6px 0 3px;
        }

        & .vs__selected {
            //background: #F5F5F5;
            border: none;
            font-size: 14px;
            font-weight: 500;
            align-self: flex-end;
            line-height: 14px;
        }

        &.no-background .vs__selected {
            background: #FFFFFF !important;
        }

        &.vs--disabled .vs__clear, &.vs--disabled .vs__search, &.vs--disabled .vs__selected,
        &.vs--disabled .vs__open-indicator, &.vs--disabled .vs__selected {
            background-color: #F2F2F2 !important;
            background: #F2F2F2 !important;
            color: var(--tc-secondary);
        }

        &.vs--open .vs__dropdown-toggle {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0
        }

        //& .vs__open-indicator {
        //    height: 14px;
        //}

        & .vs__clear svg {
            height: 14px !important;
            width: 14px !important;
        }

        .vs__selected-options {
            padding: 0;
        }
    }

    & .tc-select__subtitle {
        color: rgba(45, 50, 68, 0.4);
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        pointer-events: none;
        left: 25px;
        top: 18px;
        transition: 0.4s ease all;
        z-index: 1;
        line-height: 12px;
    }
}

.tc-v-select__wrapper-material {
    font-family: $font-family-sans-serif;
    position: relative;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    padding: 8px 8px;
    border: 1px solid var(--tc-neutral-dark);
    //margin-top: 12px;
    //margin-bottom: 12px;
    & > div:not( .v-select) {
        overflow: hidden;
    }
}

@media (max-width: 567px) {
    .tc-v-select_material {
        & .tc-v-select {
            &.vs--open ~ .tc-select__subtitle {
                color: var(--tc-neutral-dark);
                top: 11px;
                transition: 0.2s ease all;
                font-size: 10px;
            }

            &.vs--selected ~ .tc-select__subtitle {
                color: var(--tc-neutral-dark);
                top: 11px;
                transition: 0.2s ease all;
                font-size: 10px;
            }

            &.vs--searching ~ .tc-select__subtitle {
                color: var(--tc-neutral-dark);
                top: 11px;
                transition: 0.2s ease all;
                font-size: 10px;
            }

            & ~ .tc-select__subtitle {
                top: 24px;
            }

            & .vs__search {
                &:focus {
                    outline: 0 !important;
                    border-color: transparent !important;
                    box-shadow: none !important;
                }
            }

            & .vs__dropdown-toggle {
                min-height: 47px;
                border-radius: 13px;
                padding: 12px 15px;
            }

            & .vs__selected {
                font-size: 14px;
                line-height: 14px;
            }

            & .vs__open-indicator {
                height: 12px;
            }

            & .vs__clear svg {
                height: 12px !important;
                width: 12px !important;
            }
        }

        & .tc-select__subtitle {
            font-size: 10px;
            left: 15px;
            top: 11px;
            line-height: 10px;
        }
    }
    .tc-select__label {
        font-size: 10px;
        font-weight: 700;
        line-height: 10px;
    }
    .tc-select__wrapper {
        & .tc-select {
            height: calc(3.3rem + 2px);
            min-height: 54px;
            border-radius: 13px;
            padding: 20px;
            font-size: 12px;
            line-height: 12px;
        }
        & .tc-v-select {
            & .vs__dropdown-toggle {
                min-height: 54px;
                border-radius: 13px;
                //padding: 20px;
            }

            & .vs__selected {
                font-size: 12px;
                line-height: 12px;
            }

            //& .vs__open-indicator {
            //    height: 12px;
            //}

            & .vs__clear svg {
                height: 12px !important;
                width: 12px !important;
            }
            & .vs__dropdown-menu {
                border-radius: 0 0 13px 13px;
                padding: 10px 0;
                font-size: 12px;
            }
            & .vs__dropdown-option {
                font-size: 12px;
                line-height: 14px;
                padding: 3px 20px;
            }
        }
    }

}
